<div class="loading_bouble block {{$ctrl.loadingBox(ca_loading)}}">
	<div class="holder">
		<span class="fa fa-cog"></span>
		<p>Loading</p>
	</div>
</div>
<span ng-repeat="ca_git in $ctrl.ca_gits | orderBy:'author.login'">
	<div class="list bouble" ng-style="{'background-color': {{$ctrl.bgColoring(ca_git.sha)}}}">
		<div class="avatar">
			<img src="{{ca_git.author.avatar_url}}" alt="{{ca_git.author.login}}"></img>
		</div>
		<div class="hash">commit: {{ca_git.sha}}</div>
		<div class="txt">
			<h3>{{$ctrl.messageFormat(ca_git.commit.message)}}</h3>
			<p>{{ca_git.author.login}} committed {{$ctrl.dateFormat(ca_git.commit.author.date)}}
				<span>
					<svg aria-hidden="true" class="octicon octicon-check" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg>
				</span>
			</p>
		</div>
	</div>
</span>
<div class="refresh_button_holder">
	<div class="refresh_button">
		<span>
			<a href="" ng-click="$ctrl.refreshList()">
				<span class="left_star star">
					<span class="fa fa-star white"></span><span class="fa fa-star black"></span>
				</span>
				<span class="center_text">Refresh</span>
				<span class="right_star star">
					<span class="fa fa-star white"></span><span class="fa fa-star black"></span>
				</span>
			</a>
		</span>
	</div>
</div>