* {
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}

input:focus {
	outline: none;
}

.block {
	width: 100%;
	text-align: center;
}

.holder {
	max-width: 940px;
	width: 100%;
	display: inline-block;
	overflow: hidden;
}

.bouble {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.bouble > .img {
	display: block;
	width: 100%;
}

.clearfix:after {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	clear: both;
}

body, html {
	width: 100%;
	height: 100%;
}

.main_screen {
	width: 100%;
	min-height: 100%;
}

.main_screen .holder {
	width: 100%;
	height: 100%;
	font-size: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 25px 0 25px 0;
}

.main_screen .holder:before {
	content: '';
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.main_screen .list_view {
	width: 100%;
	font-size: 1rem;
	display: inline-block;
	vertical-align: middle;
}

.main_screen .list_view .list {
	width: 100%;
	max-width: 740px;
	text-align: left;
	position: relative;
	border: solid 1px #eee;
	border-top: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 10px 8px 10px;
}

.main_screen .list_view .list:first-child {
	border-top: solid 1px #eee;
}

.main_screen .list_view .list .avatar {
	width: 36px;
	height: 36px;
	float: left;
	margin-right: 10px;
	border-radius: 4px;
	overflow: hidden;
}

.main_screen .list_view .list .avatar img {
	width: 100%;
	height: 100%;
	display: block;
}

.main_screen .list_view .list .txt {
	color: #586266;
}

.main_screen .list_view .list .txt h3 {
	font-size: 15px;
	font-weight: bold;
}

.main_screen .list_view .list .txt p {
	margin-top: 1px;
	font-weight: normal;
	font-size: 12px;
}

.main_screen .list_view .list .txt p span {
	color: #5faf39;
	position: relative;
	top: 2px;
	left: 3px;
}

.main_screen .list_view .list .txt p span svg {
	color: #5faf39;
	fill: #5faf39;
}

.main_screen .list_view .hash {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-weight: normal;
	font-size: 12px;
	color: #586266;
}

.refresh_button {
	width: 265px;
	height: 75px;
	border: solid 2px #666;
	background: #cbcbcb;
	border-radius: 20px;
	display: inline-block;
}

.refresh_button > span {
	display: block;
	width: 100%;
	height: 100%;
	border: solid 2px #fff;
	background: #cbcbcb;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

.refresh_button > span > a {
	display: inline-block;
	width: 247px;
	height: 59px;
	border: solid 1px #ababab;
	border-radius: 10px;
	margin-top: 5px;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(97,97,97,1);
	-moz-box-shadow: 0px 1px 3px 0px rgba(97,97,97,1);
	box-shadow: 0px 1px 3px 0px rgba(97,97,97,1);
	text-transform: uppercase;
	font-size: 28px;
	color: #555;
	text-decoration: none;
	font-weight: bold;
	line-height: 59px;
	position: relative;
	overflow: hidden;
	font-weight: bold;
	background: #e3e3e3;
	background: -moz-linear-gradient(top, #e3e3e3 0%, #cbcbcb 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #e3e3e3), color-stop(100%, #cbcbcb));
	background: -webkit-linear-gradient(top, #e3e3e3 0%, #cbcbcb 100%);
	background: -o-linear-gradient(top, #e3e3e3 0%, #cbcbcb 100%);
	background: -ms-linear-gradient(top, #e3e3e3 0%, #cbcbcb 100%);
	background: linear-gradient(to bottom, #e3e3e3 0%, #cbcbcb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#cbcbcb', GradientType=0 );
}

.refresh_button > span > a:after {
	content: '';
	display: block;
	width: 104%;
	height: 50%;
	margin-left: -2%;
	position: absolute;
	left: 0;
	bottom: 0px;
	border-radius: 20px 20px 0 0;
	background: #d2d2d2;
	background: -moz-linear-gradient(top, #d2d2d2 0%, #adadad 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #d2d2d2), color-stop(100%, #adadad));
	background: -webkit-linear-gradient(top, #d2d2d2 0%, #adadad 100%);
	background: -o-linear-gradient(top, #d2d2d2 0%, #adadad 100%);
	background: -ms-linear-gradient(top, #d2d2d2 0%, #adadad 100%);
	background: linear-gradient(to bottom, #d2d2d2 0%, #adadad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d2d2', endColorstr='#adadad', GradientType=0 );

}

.refresh_button > span > a > span {
	position: relative;
	z-index: 1;
}

.refresh_button .star {
	position: relative;
}

.refresh_button .star .black {
	position: relative;
	color: #888;
}

.refresh_button .star .white {
	position: absolute;
	color: #dedede;
	left: 0;
	top: 0;
	font-size: 30px;
	margin-left: -1px;
	margin-top: 6px;
}

.refresh_button .center_text {
	margin-right: 3px;
	margin-left: 3px;
}

.refresh_button_holder {
	width: 100%;
	text-align: center;
	padding-top: 25px;
}

.loading_bouble {
	-webkit-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.loading_bouble.ca_loading_hidden {
	height: 0;
	opacity: 0;
}

.loading_bouble.ca_loading_visible {
	height: auto;
	opacity: 1;
}

.loading_bouble span {
	font-size: 52px;
}

.loading_bouble p {
	text-transform: uppercase;
	font-size: 24px;
}